/* Styles are applied top down from header to footer.
   Areas are separated by type of styles. */

/* Begin global variables */

:root {
    --primary-darkblue-intro: hsl(217, 28%, 15%);
    --primary-darkblue-main: hsl(218, 28%, 13%);
    --primary-darkblue-footer: hsl(216, 53%, 9%);
    --primary-darkblue-testimonials: hsl(219, 30%, 18%);
    --primary-darkviolet: hsl(256, 26%, 20%);
    --primary-grayblue: hsl(216, 30%, 68%);
    

    --accent-cyan: hsl(176, 68%, 64%);
    --accent-blue: hsl(198, 60%, 50%);
    --accent-red: hsl(0, 100%, 63%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-verydarkviolet: hsl(270, 9%, 17%);
    --neutral-darkgrayviolet: hsl(273, 4%, 51%);
    --neutral-lightgrey: hsl(0, 0%, 98%);

    --clr-egg: rgb(236, 226, 226);
}

/* End global variable */

/* Begin General styles */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem ;
    font-family: 'Karla', sans-serif;
    /* font-family: 'DM Serif Display', serif; */
}

.container {
    max-width: 1940px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5em;
}

/* End General styles */

/* Begin Typography */

h1,
h2,
h3,
.navbar__links {
    font-family: 'DM Serif Display', serif;
}

h1 {
    font-size: 2.8rem;
    line-height: 1.1em;
    font-weight: normal;
}

.hero__text {
    font-weight: normal;
    line-height: 1.8em;
}

.call-to-action__text {
    font-weight: normal;
    line-height: 1.2em;
    font-size: 2.2rem;
}

/* End Typography */


/* Begin Colors */

h1,
.call-to-action__text {
    color: white;
}

.features__title {
    color: black;
}

.hero__text {
   color: var(--clr-egg);
}

/* End Colors */

/* Begin Structure */
.header__logo-hamburger-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
}

header {
    position: relative;
}

.hamburger__icon--open {
    content:
    url('images/icon-close.svg');
}

.navbar__links--closed {
    display: none;
}

.navbar--open {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 200vh;
    
    overflow-y: auto;
    background: var(--primary-darkviolet);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-image: url('./images/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 6% 40%;
    z-index: 2;
}

.navbar__links {
    padding-left: 0;    
    text-align: center;
    display: none;
}

.navbar__links li {
    list-style: none;
}

.navbar__links--open {
    display: block;
}

.navbar__links--open li {
    /* display: none; */
    padding-left: 0; 
    list-style: none;
    padding: 1.5em 0;
    /* width: 100vw;
    height: 100%; */
    color: white;
    text-transform: uppercase;
}

.navbar__links li a,
.navbar__links--open li a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;   
}

.navbar__links li a:hover,
.navbar__links li a:active,
.navbar__links--open li a:hover,
.navbar__links--open li a:active  {
    border: 1px solid white;
    padding: .5em 3em;
}

.hero {
    background-color: var(--primary-darkviolet);
    display: flex;
    flex-flow: column-reverse; 
}

/*hide class when navigation is open */
.emptyClass {
    display: none;
}
.hero__left {
    background: url('./images/bg-pattern-intro-left-mobile.svg');
   
    background-repeat: no-repeat;
    background-position: 2% 0;
    position: relative; /*for background image */
}

.hero__left::before {
    content: '';
    position: absolute;
    width: 124px;
    height: 330px;
    top: 80%;
    right: 0%;
    z-index: 1;
    background: url('./images/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat;
}

.hero__title {
    padding-top: 2em;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

.hero__left {
    text-align: center;
    margin-bottom: 3.5em;
}

.hero__text {
    padding-bottom: 1.5em;
}

.btn {
    border: 1.5px solid white;
    color: white;
    padding: .5em 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    /* font-size: 1.5rem; */
}

.btn:hover,
.btn:active {
    background: white;
    color: var(--primary-darkviolet);
    opacity: .75;
}

.header__logo:hover,
.header__logo:active,
.footer__logo:hover,
.footer__logo:active,
.hamburger__icon:hover,
.hamburger__icon:active {
    opacity: .75;
}

.hero__right {
    text-align: center;
}

.features {
    margin-top: 8em;
    text-align: center;
}

hr {
    width: 30%;
}

.features__text {
    padding-bottom: 2em;
}

.call-to-action {
    text-align: center;
    background-image: url('./images/bg-pattern-how-we-work-mobile.svg'), linear-gradient(to right,  var(--primary-darkviolet),  var(--primary-darkviolet));
    background-position: 100% 15%;
    background-repeat: no-repeat;
    margin-top: 6em;
    padding-top: 2.5em;
    padding-bottom: 4.5em;
}

.call-to-action__text {
    padding-right: 1em;
    padding-left: 1em;
}

footer {
    background-image: url('./images/bg-pattern-footer-mobile.svg'),
    linear-gradient(to right,  var(--neutral-lightgrey), var(--neutral-lightgrey));
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    top: 160px;
}

.footer__container {
    max-width: 1940px;
    width: 100%;
    margin: 0 auto;
    padding: 5em 1.5em;
}

.footer__social {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.footer__social a:hover,
.footer__social a:active,
.col li a:hover,
.col li a:active  {
    opacity: 75%;
}

.footer__social a + a {
    padding-left: 2em;
    padding-bottom: 1.5em;
}

.footer__line {
    width: 100%;
}

.footer__subheading {
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--primary-grayblue);
    font-weight: normal;
    padding-top: 2em;
}

.col {
    list-style: none;   
    padding-left: 0;
}

.col li a {
    text-decoration: none;
    padding-top: 3em;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

ul li {
    padding-top: .5em;
}




/* End Structure */

/* Begin desktop media query min-width 1000px */

@media (min-width: 1000px) {

}

/* End desktop media query min-width 1000px */